.contact-dets{
    background-image: url('../../public/assets/images/contact-us.jpg');
    /* width: 100% !important; */
    /* height: 100%; */

    padding: 12px;
    background-size: cover;
    border-radius: 8px;
}