.carousel-item img {
  

    margin-top:0px;
  }
.home-intro{
  padding-right: 20px !important;
}

  .contain-update{
    height: 60vh;
    
    border: 1px solid rgb(55, 0, 255);
    border-radius: 10px;
  }
  .Latest-update{
    padding: 10px;
  }
  .Latest-update a{
    text-decoration: none;
    font-size: 23px;
  }
 
  .card-slide{
    background-color: #1050a2;
    height: 60vh;
  }
  .container-slide{
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 5px 5px ;
  }
  


  





  /* 58038290850589055555555555555555555555555555555555555555555555555555523589058390458340999999999999999999999999999999999999999999999999999999999999999 */

  .marquee-container {
    height: 50vh !important;
    padding: 10px;

    
    overflow: hidden; /* Hide overflow */
    position: relative;
}

.marquee {
    position: absolute;
    width: 100%;
    animation: scroll-up 10s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll-up {
    from {
        transform: translateY(100%); /* Start from bottom */
    }
    to {
        transform: translateY(-100%); /* Scroll to top */
    }
}

.marquee:hover {
    animation-play-state: paused; /* Pause on hover */
}

.Latest-update {
    display: flex; /* Align items */
    align-items: center; /* Center items vertically */
    padding: 5px; /* Space around each item */
}

.Latest-update img {
    margin-right: 10px; /* Space between image and text */
}

  
 